force-app/main/default/flows/Cuenta_Rapida.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <interviewLabel>Cuenta Ráida {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Cuenta Rápida</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Crear_Cuenta</name>
        <label>Crear Cuenta</label>
        <locationX>209</locationX>
        <locationY>53</locationY>
        <connector>
            <targetReference>Cargar_Archivos</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Nombre_de_la_cuenta</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Nombre_de_tel_fono</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <screens>
        <name>Cargar_Archivos</name>
        <label>Cargar Archivos</label>
        <locationX>279</locationX>
        <locationY>201</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>accountFiles</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Cargar archivos relacionados</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Crear_Cuenta</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accept</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Nueva_Cuenta</name>
        <label>Nueva Cuenta</label>
        <locationX>88</locationX>
        <locationY>191</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Crear_Cuenta</targetReference>
        </connector>
        <fields>
            <name>Nombre_de_la_cuenta</name>
            <dataType>String</dataType>
            <fieldText>Nombre de la cuenta</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Nombre_de_tel_fono</name>
            <dataType>String</dataType>
            <fieldText>Nombre de teléfono</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Nueva_Cuenta</startElementReference>
    <status>Active</status>
</Flow>
